/*table of contents*/

/*1.variabler-partial*/
$primary-color: white;
$secondary-color: #3E8F22;
$tertiery-color: #67AEB3;
$quaternary-color: #FFA800;
$quinary-color: #4B330F;
$Senary-color: #F3F3F3;
$link-and-btn-font: 'Big Shoulders Display';
$headline-font: 'Big Shoulders Inline Text';
$quote-font: 'Just Me Again Down Here';
$main-font: 'Voltaire';
$padding-sec: 10vw 0 0 0;


/*2.mixin-partial*/
@mixin flex($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color: $quinary-color){
    background-color: $bg-color;
    color: $primary-color;
    font-family: $link-and-btn-font;
    font-size: 2vw;
    padding: 0.2vw 1vw;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
}