@use 'partial';

/*3.general*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a{
    cursor: pointer;
}
p{
    font-family: partial.$main-font;
    color: partial.$quinary-color;
    font-size: 2vw;
    line-height: 3vw;
}
h1{
    font-family: partial.$headline-font;
    font-size: 6vw;
    text-align: center;
    padding: 0 10VW;
}
h2{
    font-family: partial.$headline-font;
    font-size: 4vw;
}
h3{
    font-family: partial.$link-and-btn-font;
    font-size: 2vw;
    display: inline-block;
    padding: 1vw 0;
}
h4{
    font-family: partial.$link-and-btn-font;
    font-size: 1.8vw;
}
h5{
    font-family: partial.$link-and-btn-font;
    font-size: 1.5vw;
}

/*3.1.general classes*/
.green{
    background-color: partial.$secondary-color;
    width: 100vw;
}
.blue{
    background-color: partial.$tertiery-color;
    width: 73vw;
    left: 5vw;
}
.orange{
    background-color: partial.$quaternary-color;
    width: 48vw;
    left: 23.5vw;
}
.bg-white{
    background-color: partial.$primary-color;
}
.bg-grey{
    background-color: partial.$Senary-color;
}
.bg-blue{
    background-color: partial.$tertiery-color;
}
.font-white{
    color: partial.$primary-color;
}
.font-brown{
    color: partial.$quinary-color;
}
.links{
    font-family: partial.$link-and-btn-font;
    color: partial.$primary-color;
    text-decoration: none;
    text-align: center;
    &:visited{
        color: partial.$primary-color
    }

}
.btn-main{
    @include partial.btn();
    font-size: 3vw;
    &:hover{
        background-color: partial.$primary-color;
        color: partial.$quinary-color;
        transition: 0.5s ease-in-out;
    }
}
.icon{
    width: 2.5vw;
    height: auto;
}

/*4.body*/
body{
    background-color: partial.$primary-color;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: auto auto auto; 
}

/*4.1.header over menu*/
header{
    grid-area: header;
    overflow: hidden;
}
.header-boxes{
    display: block;
    position: relative;
}
green-box{
    height: 20vw;
}
blue-box{
    height: 80%;
    top: 20%;
}
orange-box{
    height: 80%;
    top: 20%;
    left: 18.5vw !important;

}
white-box{
    background-color: partial.$primary-color;
    width: 22.5vw;
    height: 80%;
    left: 5vw;
    img{
        width: 11vw;
        height: auto;
        position: relative;
        left: 8vw;
    }
}

/*4.2.header menu*/
nav{
    @include partial.flex($justify: none);
    background-color: partial.$quinary-color;
    width: 100vw;
    height: 4vw;
    position: relative;
    padding-left: 22.5vw;
    a{
        font-size: 2.8vw;
        width: 8vw;
        margin-right: 6vw;
        &:active{
            text-transform: uppercase;
            text-decoration: underline;
        }
        &:hover{
            text-transform: uppercase;
        }
    }
}

/*4.3.header under menu*/
language-box{  
    position: absolute;
    height: auto;
    @include partial.flex($justify: end);
    p{ 
        font-family: partial.$link-and-btn-font;
        font-size: 2vw !important;
        color: partial.$primary-color;
        padding: 1vw 0vw;
        margin-right: 0.8vw;
    }
}
quote-box{
    font-family: partial.$quote-font !important;
    font-size: 2.7vw;
    color: partial.$quinary-color;
    position: relative;
    height: auto;
    @include partial.flex($justify: end);
    flex-wrap: wrap;
    q{
        width: 100%;
        padding: 2vw 3vw 0 3vw;
    }
    p{
        font-family: partial.$quote-font !important;
        font-size: 2.7vw !important;
        margin-right: 1vw;
        padding-bottom: 1vw;
    }
    z-index: 1;
}

/*5.main*/
main{
    grid-area: main;
    overflow: hidden;
    
}
.column-1{
    padding: 5vw 0 5vw 0;
    @include partial.flex();
    flex-direction: column;
    p{
        padding: 5vw 20vw;
    }
    div{
        img{
            width: 20vw;
            height: auto;
            float: left;
            margin: 0 2vw 2vw 0;
        }
    }
}
.sec-video{
    width: 100vw;
    video{
        width: 100vw;
        height: auto;
    }
}
.column-2{
    padding: 5vw 0 5vw 0;
    @include partial.flex();
    flex-direction: column;
    div{
        @include partial.flex();
        flex-direction: row;
        padding: 2.5vw 20vw;
        p{
            margin-right: 5vw;
        }
        img{
            width: 15vw;
            height: auto;
        } 
    }
}
.column-3{
    padding: 5vw 0;
    @include partial.flex();
    flex-direction: column;
    div{
        width: 70vw;
        margin: 5vw 0;
        @include partial.flex($justify: space-around);
        img{
            width: 20vw;
            height: auto;
        }
    }
    staff-units{
        width: 80vw;
        height: auto;
        @include partial.flex($align: flex-start);
        flex-direction: row;
        div{
            @include partial.flex();
            flex-direction: column;
            padding: 1vw 2vw;
            border-right: 0.2vw solid #4B330F;
        }
        div:nth-of-type(3){
            border-right: none;
        }
    }
}
/*6.footer*/
footer{
    grid-area: footer;
    overflow: hidden;
    h2{
        display: inline;
        position: relative;
        left: 17vw;
        bottom: 10vw;
    }
}
.person-grafik{
    width: 13vw;
    height: auto;
    position: relative;
    top: 5.5vw;
    left: 8vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
contact-box{
    display: block;
    position: relative;
    height: auto;
    @include partial.flex($justify: flex-start);
    *{
        display: inline-block;
    }
    h3{
        color: partial.$quinary-color;
        margin: 0 1vw;
    }
    div{
        @include partial.flex();
        margin: 0 1vw;
        p{
            font-family: partial.$link-and-btn-font;
            font-size: 2vw;
            font-weight: 700;
        }
    }
}
newsletter-box{
    font-family: partial.$main-font;
    display: block;
    position: relative;
    height: auto;
    @include partial.flex($justify: end);
    form{
        h3{
            margin-left: 1vw;
        }
        .lab-hidden{
            display: block;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
        }
        #newsletter-text{
            font-family: partial.$link-and-btn-font;
            font-size: 2vw;
            width: 25vw;
            height: auto;
            margin: 0 1vw 1vw 1vw;
            padding: 0.2vw;
            border: none;
        }
        #submit-button{
            @include partial.btn();
            margin-right: 1vw;
        }
    }
}
bottom-box{
    height: auto;
    @include partial.flex($justify: space-between);
    p{
        font-size: 1vw;
        color: partial.$primary-color;
        margin-left: 2vw;
    }  
    some-box{
        width: 17vw;
        margin-right: 2.5vw;
        @include partial.flex($justify: space-between);
    }
}

/*7.tablet*/
@media only screen and (max-width: 1024px) {
    p{
        font-size: 3vw;
    }
    h1{
        font-size: 7vw;
    }
    h2{
    font-size: 5vw;
    }
    h3{
        font-size: 3vw;
    }
    h4{
        font-size: 3vw;
    }
    h5{
        font-size: 2.5vw;
    }
    .blue{
        width: 80vw;
    }
    .orange{
        width: 55vw;
    }
    nav{
        height: 5vw;
        padding-left: 23vw;
        a{
            font-size: 3.8vw;
            margin-right: 8vw;
        }
    }
    .column-3{
        staff-units{
            div{
                p{
                    font-size: 2vw !important;
                }              
            }
        }
    }
    language-box{
        p{
            font-size: 3vw !important;
            margin-right: 0.4vw;
        }
    }
    .person-grafik{
        top: 7vw;
    }
    bottom-box{
       some-box{
        width: 25vw;
        } 
    } 
  }

  /*8.mobil*/
  